<div style="padding-left: 30%;padding-right: 30%">
  <form class="px-4 py-3" name="loginForm" [formGroup]="loginForm">
    <div class="form-group">
      <label for="userid">Usuario</label>
      <input type="number" class="form-control" id="userid" placeholder="12345"
        formControlName="codigo">
    </div>
    <div class="form-group">
      <label for="passid">Contraseña</label>
      <input type="password" class="form-control" id="passid" placeholder="Password"
        formControlName="password">
    </div>
    <button type="submit" class="btn btn-outline-secondary" (click)="onSubmit()">Ingresar</button>
  </form>
</div>
