<table>
  <td class="left-panel">
    <div style="min-width: 350px">
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search..." #search>
        <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit" (click)="filter(search.value);">
          <i class="fas fa-search"></i>
        </button>
      </form>
    </div>
    <br />
    <h3 style="width: 350px; text-align: center">TOURS</h3>
    <div class="info" style="width: max-content; min-width: 350px; border: 5px dotted gray">
      <div *ngFor="let tour of this.showTours; let i = index">
        <button type="button" class="btn btn-light mybtn" (click)="selectTour(i);">{{ tour.nombre }}</button><br />
      </div>
    </div>
  </td>
  <td class="right-panel">
    <div class="border">
      <div>
        <h1 style="text-align: center">
          Tour Actual
        </h1>
        <br /><br /><br />
        <div class="p-3">
          <!-- {{ this.currentTour.nombre }} -->
          <app-tour-view [currentTour]="this.currentTour"></app-tour-view>
        </div>
      </div>
    </div>
  </td>
</table>
