<div class="nombre">
  <h2>{{ this.currentTour.nombre }}</h2>
</div>
<div class="viajes">
  <table id="table" class="table table-bordered">
    <thead class="thead-light">
      <tr style="text-align: center">
        <th scope="col">Encargado</th>
        <th scope="col" *ngFor="let e of this.empty; let i = index">Estación {{i+1}}</th>
      </tr>
    </thead>
    <tbody id="body">
      <tr *ngFor="let viaje of this.currentTour.viajes; let j = index;">
        <th scope="row">
          {{ viaje.encargado }}
        </th>
        <td *ngFor="let e of this.empty; let i = index;" align="center"
          (click)="cellPressed(viaje.estaciones[i], i, j);"
          [ngStyle]="{'background-color': this.checkStage(viaje.estaciones[i])}">
          <ng-container *ngIf="viaje.estaciones[i]; else elseTemplate">
            {{ viaje.estaciones[i].nombre }}<br />
            {{ viaje.estaciones[i].encargado }}
          </ng-container>
          <ng-template #elseTemplate>
            ---
          </ng-template>
        </td>
      </tr>
    </tbody>
  </table>
</div>
