<!-- <div class="nombre pb-4">
  <h2>{{ this.currentTour.nombre }}</h2>
</div> -->
<div class="estaciones" *ngIf="this.empty !== null">
  <table id="table" class="table table-bordered">
    <thead class="thead-dark">
      <tr style="text-align: center">
        <th scope="col">Encargado</th>
        <th scope="col" *ngFor="let e of this.empty; let i = index">Estación {{ i + 1 }}</th>
      </tr>
    </thead>
    <tbody id="body">
      <tr *ngFor="let rrr of this.currentTour.encargados; let j = index;">
        <th class="table-secondary" scope="row">
          {{ rrr }}
        </th>
        <!-- (click)="cellPressed(this.currentTour.estaciones[in], i, j);" -->
        <td *ngFor="let estacion of this.currentTour.estaciones[j]; let in = index" [ngClass]="{
            'bg-light': estacion.estado === 'previsto',
            'bg-warning': estacion.estado === 'camino',
            'bg-primary': estacion.estado === 'sala',
            'bg-success': estacion.estado === 'paso',
            'bg-danger': estacion.estado === 'cancelado'
          }" style="text-align: center;">
          <div class="message">
            <span class="parent">
              {{ estacion.nombre }}<br />
              {{ estacion.encargado }}
            </span>
            <section class="speech" *ngIf="this._appService.role > 0">
              <div class="row">
                <div class="col-md">
                  <button class="btn btn-outline-secondary"
                    (click)="cellPressed(estacion, in, j, 'previsto')">Previsto</button>
                  <button class="btn btn-outline-warning" (click)="cellPressed(estacion, in, j, 'camino')">En
                    Camino</button>
                  <button class="btn btn-outline-primary" (click)="cellPressed(estacion, in, j, 'sala')">En
                    Sala</button>
                  <button class="btn btn-outline-success" (click)="cellPressed(estacion, in, j, 'paso')">Ya
                    Pasó</button>
                  <button class="btn btn-outline-danger"
                    (click)="cellPressed(estacion, in, j, 'cancelado')">Cancelado</button>
                </div>
              </div>
            </section>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <!-- asdasd{{this.currentTour.id}}
  <button (click)="current()">tour</button> -->
</div>
