<!-- <div *ngIf="this.estacionesShow">
  <div class="form-row">
    <div class="form-group col-md-4"></div>
    <div class="form-group col-md-4">
      <div class="card border-info mb-3" style="width: 18rem;">
        <div class="card-header text-info text-center">Añadir estación</div>
        <div class="card-body text-info">
          Nombre: <br />
          <input name="nom" #nom type="text" class="form-control form-control-sm">
          Encargado: <br />
          <input name="enc" #enc type="text" class="form-control form-control-sm"><br />
        </div>
        <div class="card-body text-right">
          <button class="btn btn-info" (click)="crear(nom.value, enc.value);">Crear</button>
        </div>
      </div>
    </div>
    <div class="form-group col-md-4"></div>
  </div>
  <div class="form-row" *ngFor="let row of this.estacionesShow; let r = index;">
    <div class="form-group col-md-4" *ngFor="let col of row; let c = index;">
      <div *ngIf="col" style="text-align: center;">
        <div class="card mb-3" style="width: 18rem;" [ngClass]="{ 'border-success': !col.ocupado, 'border-danger': col.ocupado }">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">{{ col.id }}</li>
            <li class="list-group-item text-left">
              <ng-container *ngIf="this.editar && this.index===col.id; else elseTemplate1">
                Nombre: <br /><input name="nom" #nom="ngModel" [(ngModel)]="this.nombre" type="text"
                  class="form-control form-control-sm">
              </ng-container>
              <ng-template class="p-3" #elseTemplate1>
                Nombre: <br />{{ col.nombre }}
              </ng-template>
            </li>
            <li class="list-group-item text-left">
              <ng-container *ngIf="this.editar && this.index===col.id; else elseTemplate2">
                Encargado: <br /><input name="enc" #enc="ngModel" [(ngModel)]="this.encargado" type="text"
                  class="form-control form-control-sm">
              </ng-container>
              <ng-template class="p-3" #elseTemplate2>
                Encargado: <br />{{ col.encargado }}
              </ng-template>
            </li>
            <li class="list-group-item" [ngClass]="{ 'text-success': !col.ocupado, 'text-danger': col.ocupado }">
              {{ col.ocupado ? 'Ocupado' : 'Desocupado' }}</li>
            <li class="list-group-item text-right">
              <ng-container *ngIf="this.editar && this.index===col.id; else elseTemplate4">
                <button class="btn btn-outline-secondary" (click)="accept(c, r);">Aceptar</button>
              </ng-container>
              <ng-template #elseTemplate4>
                <button class="btn btn-outline-secondary" (click)="edit(col);">Editar</button>
              </ng-template>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div class="m-1">
  <h3>Estaciones</h3>
</div>

<div class="form-row pb-3" *ngFor="let item of estaciones; let i = index;">
  <div class="col-md-3 mb-3">
    <div class="input-group">
      <div class="input-group-text">Nombre</div>
      <div class="input-group-prepend">
      </div>
      <input type="text" class="form-control" id="name{{i}}" value="{{item.nombre}}">
    </div>
  </div>
  <div class="col-md-3 mb-3">
    <div class="input-group">
      <div class="input-group-text">Encargado</div>
      <div class="input-group-prepend">
      </div>
      <input type="text" class="form-control" id="charge{{i}}" value="{{item.encargado}}">
    </div>
  </div>
  <div class="col-md-3 mb-3">
    <div class="input-group">
      <div class="input-group-text">Código</div>
      <div class="input-group-prepend">
      </div>
      <input type="text" class="form-control" id="code{{i}}" value="{{item.codigo}}">
    </div>
  </div>
  <div class="col-md-3 mb-3">
    <button class="btn btn-success" (click)="edit(i)"><i class="fas fa-edit"></i></button>
    &nbsp;
    <button class="btn btn-danger" (click)="remove(item.codigo)"><i class="fas fa-trash-alt"></i></button>
  </div>
</div>

<div class="dropdown-divider"></div>

<div class="mt-3">
  <div class="m-1">
    <h3>Añadir usuario</h3>
  </div>
  <div class="form-row">
    <div class="col-md-3 mb-3">
      <div class="input-group">
        <div class="input-group-text">Nombre</div>
        <div class="input-group-prepend">
        </div>
        <input type="text" class="form-control" id="newname">
      </div>
    </div>
    <div class="col-md-3 mb-3">
      <div class="input-group">
        <div class="input-group-text">Encargado</div>
        <div class="input-group-prepend">
        </div>
        <input type="text" class="form-control" id="newcharge">
      </div>
    </div>
    <div class="col-md-3 mb-3">
      <div class="input-group">
        <div class="input-group-text">Código</div>
        <div class="input-group-prepend">
        </div>
        <input type="text" class="form-control" id="newcode">
      </div>
    </div>
    <div class="form-group col-md-3 mb-3">
      <button class="btn btn-secondary" (click)="crear()">Crear</button>
    </div>
  </div>
</div>
