<div *ngIf="this.estacionesShow">
  <div class="form-row">
    <div class="form-group col-md-4"></div>
    <div class="form-group col-md-4">
      <div class="card border-info mb-3" style="width: 18rem;">
        <div class="card-header text-info text-center">Añadir estación</div>
        <div class="card-body text-info">
          Nombre: <br />
          <input name="nom" #nom type="text" class="form-control form-control-sm">
          Encargado: <br />
          <input name="enc" #enc type="text" class="form-control form-control-sm"><br />
        </div>
        <div class="card-body text-right">
          <button class="btn btn-info" (click)="crear(nom.value, enc.value);">Crear</button>
        </div>
      </div>
    </div>
    <div class="form-group col-md-4"></div>
  </div>
  <div class="form-row" *ngFor="let row of this.estacionesShow; let r = index;">
    <div class="form-group col-md-4" *ngFor="let col of row; let c = index;">
      <div *ngIf="col" style="text-align: center;">
        <div class="card mb-3" style="width: 18rem;" [ngClass]="{ 'border-success': !col.ocupado, 'border-danger': col.ocupado }">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">{{ col.id }}</li>
            <li class="list-group-item text-left">
              <ng-container *ngIf="this.editar && this.index===col.id; else elseTemplate1">
                Nombre: <br /><input name="nom" #nom="ngModel" [(ngModel)]="this.nombre" type="text"
                  class="form-control form-control-sm">
              </ng-container>
              <ng-template class="p-3" #elseTemplate1>
                Nombre: <br />{{ col.nombre }}
              </ng-template>
            </li>
            <li class="list-group-item text-left">
              <ng-container *ngIf="this.editar && this.index===col.id; else elseTemplate2">
                Encargado: <br /><input name="enc" #enc="ngModel" [(ngModel)]="this.encargado" type="text"
                  class="form-control form-control-sm">
              </ng-container>
              <ng-template class="p-3" #elseTemplate2>
                Encargado: <br />{{ col.encargado }}
              </ng-template>
            </li>
            <li class="list-group-item" [ngClass]="{ 'text-success': !col.ocupado, 'text-danger': col.ocupado }">
              {{ col.ocupado ? 'Ocupado' : 'Desocupado' }}</li>
            <li class="list-group-item text-right">
              <ng-container *ngIf="this.editar && this.index===col.id; else elseTemplate4">
                <button class="btn btn-outline-secondary" (click)="accept(c, r);">Aceptar</button>
              </ng-container>
              <ng-template #elseTemplate4>
                <button class="btn btn-outline-secondary" (click)="edit(col);">Editar</button>
              </ng-template>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
